[submodule "assets/timeserieswidget"]
	path = assets/timeserieswidget
	url = https://github.com/vimeo/timeserieswidget.git
	pushurl = git@github.com:vimeo/timeserieswidget.git
[submodule "rawes"]
	path = rawes
	url = https://github.com/humangeo/rawes.git
[submodule "requests"]
	path = requests
	url = https://github.com/kennethreitz/requests.git
[submodule "python-dateutil"]
	path = python-dateutil
	url = https://github.com/paxan/python-dateutil.git
[submodule "beaker"]
	path = beaker
	url = https://github.com/bbangert/beaker.git
